@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <aside>
                <header>
                    <h4>Departamento</h4>
                </header>
                <div>
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="col-9">

        </div>
    </div>

</div>
